$transitionSpeed: 0.3s ease;
$navBarHeight: 3rem;

$breakpoints: (
	'xs': 480px,
	'sm': 600px,
	'md': 720px,
	'lg': 960px,
	'xl': 1200px,
);

@mixin xs {
	@media (min-width: map-get($breakpoints, 'xs')) {
		@content;
	}
}

@mixin sm {
	@media (min-width: map-get($breakpoints, 'sm')) {
		@content;
	}
}

@mixin md {
	@media (min-width: map-get($breakpoints, 'md')) {
		@content;
	}
}

@mixin lg {
	@media (min-width: map-get($breakpoints, 'lg')) {
		@content;
	}
}

@mixin xl {
	@media (min-width: map-get($breakpoints, 'xl')) {
		@content;
	}
}

@mixin breakpoint($bp: 0) {
	@media (min-width: $bp) {
		@content;
	}
}

.container {
    width: 100%;
    max-width: 1400px;
    padding: 0 2rem;
    display: flex;
}

.navBar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $navBarHeight;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);

    .container {
        justify-content: space-between;
        align-items: center;
    }

    .navLinks {
        list-style: none;
        position: fixed;
        top: $navBarHeight;
        left: 0;
        width: 100%;
        height: calc(100vh - $navBarHeight);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
        gap: 2rem;
        transform: translateX(100%);
        transition: $transitionSpeed;
        background-color: rgba(0, 0, 0, 0.9);

        @include md() {
            position: relative;
            flex-direction: row;
            transform: translateX(0);
            width: 45%;
            height: 100%;
            justify-content: space-between;
            padding: 0;
            top: 0;
            background-color: transparent;
        }

        .navLink {
            transition: 0.8s ease;
            opacity: 0;
            transform: translateY(10px);
            color: #fff;
            font-size: 1.75rem;
            cursor: pointer;

            @include md() {
                opacity: 1;
                transform: translateY(0);
                color: #515151;
                font-size: 1.2rem;
            }
        }

        &.active {
            transform: translateX(0);

            .navLink {
                opacity: 1;
                transform: translateY(0);

                &:nth-of-type(1) {
                    transition-delay: 0.25s;
                }

                &:nth-of-type(2) {
                    transition-delay: 0.4s;
                }

                &:nth-of-type(3) {
                    transition-delay: 0.55s;
                }

                &:nth-of-type(4) {
                    transition-delay: 0.7s;
                }
            }
        }

        .email {
            display: block;
            color: #fff;
            position: absolute;
            bottom: 5rem;
            left: 50%;
            transform: translateX(-50%);

        }

        
    } // .navLinks

    .hamburger {
        width: 2.25rem;
        height: 2.25rem;
        position: relative;
        cursor: pointer;

        .topLine, .middleLine, .bottomLine {
            content: '';
            position: absolute;
            width: 100%;
            height: 2.5px;
            background-color: #000;
            border-radius: 5px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            transition: $transitionSpeed;
        }

        .topLine {
            top: 25%;
            left: 50%;
            transform: translate(-50%, -25%);
        }

        .middleLine {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .bottomLine {
            top: 75%;
            left: 50%;
            transform: translate(-50%, -75%);
        }

        &.active {
            .topLine {
                top: 50%;
                transform: translate(-50%, -50%) rotate(45deg);
            }

            .middleLine {
                opacity: 0;
            }

            .bottomLine {
                top: 50%;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }

        @include md() {
            display: none;
        }
    } // .hamburger

}

